.discover-url .discover-url-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discover-url .discover-url-date .btn-switch {
    border: 1px solid #dee0e4;
}

.discover-url .discover-url-date .btn-switch span {
    background: #dee0e4;
}

.discover-url .discover-url-date .text-date {
    float: right;
    color: var(--col_grey);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: .825rem;
    max-width: 100px;
    background: var(--col_grey_light);
    font-size: 1.4rem;
}

.discover-url .discover-url-title {
    display: flex;
    align-items: center;
}

.discover-url .discover-url-title img {
    margin-right: 0.6rem;
    width: 36px;
    height: 36px;
    padding: 4px;
    border: 1px solid var(--col_grey);
    margin-right: 8px;
    border-radius: 50px;
}

.discover-url .discover-url-title span {
    font-size: 1.6rem;
    color: var(--col_txt);
}

.discover-url .discover-url-link {
    font-size: 1.4rem;
    color: var(--col_grey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 60rem;
}

.discover-url .discover-url-linkrandedshort {
    border-top: 2px solid var(--col_grey_light);
    padding-top: 1rem;
    margin-top: 1.4rem;
}

.discover-url .discover-url-linkrandedshort,
.discover-url .discover-url-linkbrandedshort {
    font-size: 1.6rem;
    color: #0e1527;
}

.discover-url .discover-url-linkrandedshort a,
.discover-url .discover-url-linkbrandedshort a {
    color: var(--col_accent);
    font-size: 1.8rem;
}

.discover-url .discover-url-addtag {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discover-url .discover-url-addtag .btn-icon {
    display: flex;
    height: 4rem;
    align-items: center;
    cursor: pointer;
}

.discover-url .discover-url-addtag .btn-icon div:hover {
    background: var(--col_accent_light);
    color: var(--col_accent) ;
    border-radius: 50%;
    padding: 0.5rem 0rem;
}

.discover-url .discover-url-addtag .btn-icon svg {
    margin: 0rem 0.6rem;
    color: var(--col_accent);
}

.discover-url .discover-url-addtag .btn-addtag {
    display: flex;
}

.discover-url {
    border-radius: 0.8rem;
    padding: 1.2rem 2.8rem;
    margin: 1.5rem auto;
    position: relative;
    width: 100%;
    background: var(--col_white);
    box-shadow: 0 0 0 1px rgb(14 63 126 / .05), 0 1.5px 1.5px -.5px rgb(42 51 69 / .07), 0 4px 4px -2px rgb(42 51 70 / .06), 0 7px 7px -3.5px rgb(42 51 70 / .05), 0 14px 14px -7px rgb(14 63 126 / .04), 0 26px 26px -13px rgb(14 63 126 / .03);
}

.discover-url .discover-url-addtag .btn-addtag span:nth-child(1) {
    background: var(--col_main_light);
    width: auto;
    line-height: 4rem;
    font-size: 1.4rem;
    color: var(--col_main);
    cursor: pointer;
    padding: 0 1.5rem;
    margin: 0 0 0 1rem;
    border-radius: 0.6rem;
    border: 0.1 solid transparent;
    margin-right: 1.4rem;
    height: 100%;
    padding-bottom: 0.3rem;
}

.discover-url .discover-url-addtag .btn-addtag .clicks {
    display: flex;
    align-items: center;
    background: var(--col_main_light);
    border-radius: 0.6rem;
    padding: 0.6rem;
}

.discover-url .discover-url-addtag .btn-addtag .clicks svg {
    color: #1B5AFF;
}

.discover-url .discover-url-addtag .btn-addtag .clicks span:nth-child(2) {
    background: var(--col_main);
    color: var(--col_white);
    margin-right: 0.5rem;
    padding: 0.5rem 0.8rem;
    display: inline-block;
    font-size: 1.4rem;
    border: 0.1rem solid var(--col_main);
    border-radius: 0.6rem;
}

.discover-url .discover-url-addtag .btn-addtag .clicks span:nth-child(3) {
    color: #1B5AFF;
    margin-right: 0.5rem;
    padding: 0.5rem 0rem;
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 0.6rem;
}

.ant-tooltip-inner {
    color: black !important;
}


.ant-tooltip-inner {
    background-color: white !important;
}

.ant-tooltip-arrow::before {
    background-color: white !important;
}