
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    max-width: 1920px;
    overflow-x: hidden;
  }

  html {
    font-size: 62.5%;
    font-family: var(--font-ubuntu), sans-serif;
  }

  @media (max-width: 1250px) {
    html {
      font-size: 42.5%;
    }
  }

}

:root {
  --col_white: #ffffff;
  --col_txt: #0e1527;
  --col_green: #3bd671;
  --col_main_light: #f2f3f9;
  --col_accent: #ff610b;
  --col_grey: #838896;
  --col_grey_light: #f8f8f8;
  --background: #868e9d;
  --foreground: #868e9d;
  --primary: 220 10.17% 76.86%;
  --primary-foreground: #868e9d;
  --col_main: #1b5aff;
  --col_main_2: #4235ef;
  --col_green_dark: #23bf59;
  --col_dark: #002482;
  --col_green_light: #e6f5eb;
  --col_accent_light: #ffe4d5;
}

.container {
  width: 90%;
  margin: auto;
}

.f18-ls6 {
  font-size: 1.8rem;
  letter-spacing: 0.06rem
}

.toast div .text-sm.opacity-90 {
  font-size: 1.6rem;
}


.p-1,
.py-1\.5,
.px-2 {
  padding: 0;
}

.ant-switch.ant-switch-checked {
  background: var(--col_green) !important;
}

.btn {
  padding: 1rem 1.6rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  color: var(--col_white);
  background: linear-gradient(45deg, var(--col_main) 0%, var(--col_main_2) 100%);
}

.btn img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  transition: 0.3s;
}

.btn a {
  color: var(--col_white);
  font-weight: 700;
  font-size: 1.6rem;
}

.btn:hover img {
  transform: scale(1.2);
  transition: 0.3s;
}
